@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* global CSS */

html {
    font-size: 16px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.75rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1.25rem
}

/* global CSS end*/